[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"
rich = "*"
emoji = "*"
python-dateutil = "*"
pytz = "*"
peewee = "*"
asyncio = "*"
aiohttp = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
bot = "python main.py run"
addchannel = "python main.py addchannel"
removechannel = "python main.py removechannel"
