[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twitchio = "*"
python-dotenv = "*"
pony = "*"
requests = "*"
rich = "*"
emoji = "*"
python-dateutil = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
bot = "python main.py runbot"
addchannel = "python main.py addchannel"
removechannel = "python main.py removechannel"
